<%= simple_form_for [article_category, article], html: {class: "px-6 my-5"} do |f| %>
  <%= f.input :name %>
  <%= render Form::RichTextFieldComponent.new(form: f, field_name: :description) %>

  <%= render partial: "article_fields/index", locals: { article: article, article_fields: article_category.article_fields } %>
  <%= render NewListItemComponent.new(path: new_article_category_article_field_path(article_category), data: { turbo_frame: "modal"} ) %>

  <div class="flex flex-row justify-between">
    <%= f.submit article.persisted? ? "Update #{article_category.name}" : "Create #{article_category.name}", class: "button" %>
    <% if article.persisted? %>
      <%= link_to "Delete", article_category_article_path(article_category, article), class: "text-red-500", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
<% end %>
