<div class="p-6 my-5 bg-white rounded-sm">
  <p class="text-lg"><p>
  <div class="px-6 my-5">
    <div class="pb-5">
      <p class="font-semibold">Name</p>
      <p><%= @article.name %></p>
    </div>
    <div class="pb-5">
      <p class="font-semibold">Description</p>
      <p><%== @article.description %></p>
    </div>
    <% @article_category.article_fields.each do |article_field| %>
      <div class="pb-5">
        <p class="font-semibold"><%= article_field.name %></p>
        <p><%= article_field.article_field_value(@article.id)&.value || "-" %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="pt-5">
  <%= link_to "Edit #{@article_category.name}", edit_polymorphic_path([@article_category, @article]), class: "button" %>
</div>
