<div x-data="instanceListInit(<%= document.article_instances.map(&:id) %>)" @keydown.shift="shiftPressed = true" @keyup.shift="shiftPressed = false" class="px-1 pr-12 bg-white rounded-sm">
  <div class="mt-5">
    <%= render partial: "layouts/controls/new_article_menu", locals: { order: 0, paragraphs: paragraphs, articles: articles } %>
    <% document.article_instances.each_with_index do |article_instance, index| %>
      <% article = article_instance.article %>
      <div @mouseover="hover_instances['hover_#{article_instance.id}'] = true" @mouseover.away="hover_instances['hover_#{article_instance.id}'] = false">
        <div @click="form_instances['modal_edit_form_<%= article_instance.id %>'] = true" class="pl-12 text-lg <%= article.color %> font-semibold cursor-pointer"><%= article[:name] %></div>
        <div>
          <span x-show="hover_instances['hover_<%= article_instance.id %>']" class="flex absolute flex-col -mt-6 space-y-0 text-gray-400">
            <%= render(Documents::ArticleSidebarComponent.new(article_instance: article_instance, document: document)) %>
          </span>
          <div class="pl-12">
            <div class="text-lg <%= "p-4 border border-gray-400 rounded-sm shadow-md bg-gray-100" unless article.instance_of?(Paragraph) %>">
              <% if article.class == Paragraph %>
                <span x-show="!form_instances['form_<%= article_instance.id %>']" @click="form_instances['form_<%= article_instance.id %>'] = true"><%== article.description.body %></span>
                <div x-cloak="" x-show="form_instances['form_<%= article_instance.id %>']">
                  <%= form_with(model: article, local: true) do |form| %>
                    <%= form.hidden_field(:document_id, value: document.id) %>
                    <%= render(Documents::ParagraphFieldComponent.new(form: form, article_instance_id: article_instance.id)) %>
                    <%= form.submit class: "button", id: "submit_#{article_instance.id}", style: "display: none;" %>
                  <% end %>
                </div>
              <% else %>
                <span><%== article.description.body %></span>
                <%= render partial: "layouts/forms/edit_article_modal", locals: { article_instance: article_instance, article: article, order: index + 1, document_id: document.id } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%= render partial: "layouts/controls/new_article_menu", locals: { order: index + 1, paragraphs: paragraphs, articles: articles } %>
    <% end %>

    <div x-cloak="" x-show="showFooterNewParagraphForm" class="pb-5 ml-10">
      <%= form_for "new_paragraph_#{document.article_instances.size + 1}", method: "post", url: create_from_document_paragraphs_path(document_id: document.id, order: document.article_instances.size + 1) do |form| %>
        <%= render(Documents::ParagraphFieldComponent.new(form: form, article_instance_id: document.article_instances.size + 1)) %>
        <%= form.submit class: "button", id: "submit_#{document.article_instances.size + 1}", style: "display: none;" %>
      <% end %>
    </div>
  </div>
</div>

<script>
  function instanceListInit(instance_ids) {
    return {
      shiftPressed: false,
      showFooterNewParagraphForm: true,
      modal_edit_form_instances: instance_ids.reduce((a,v)=> (a['modal_edit_form_' + v]=false,a),{}),
      form_instances: instance_ids.reduce((a,v)=> (a['form_' + v]=false,a),{}),
      hover_instances: instance_ids.reduce((a,v)=> (a['hover_' + v]=false,a),{})
    }
  };
  function paragraphFormEnter(submit_id, field_id, shiftPressed) {
    field = document.getElementById(field_id);
    if (!shiftPressed && !field.tribute.isActive) {
      document.getElementById(submit_id).click();
    }
  };
  function paragraphFormClickAway(submit_id, field_id) {
    field = document.getElementById(field_id);
    if (field.getAttribute('input').startsWith('field')) {
      document.getElementById(submit_id).click();
    }
  };
</script>
