<%= turbo_frame_tag "article_fields" do %>
  <% article_fields.each do |article_field| %>
    <div class="pb-4 string required article_article_field_<%= article_field.id %>">
      <label class="block string required text-sm font-medium text-gray-600" for="article_article_field_<%= article_field.id %>"><%= article_field.name %></label>
      <input class="shadow appearance-none border border-gray-300 rounded py-2 px-3 bg-white focus:outline-none focus:ring-0 focus:border-blue-500 text-gray-700 leading-6 transition-colors duration-200 ease-in-out border-green-400 string required" type="text" name="article[article_field][<%= article_field.id %>]" id="article_article_field_<%= article_field.id %>" />
    </div>
  <% end %>
<% end %>
