<nav class="fixed inset-x-0 top-0 z-10 h-24 text-gray-200 bg-gray-500">
  <div class="flex relative flex-row justify-center h-12">
    <div class="flex absolute top-0 left-0 flex-row p-3 text-xs">alpha v0.3.0</div>
    <p class="absolute top-4">
      <%= link_to root_path do %>
        <span><%= image_tag "/logobanner.png", size: "320x1600" %></span>
      <% end %>
    </p>
    <div class="flex absolute top-0 right-0 flex-row justify-end">
      <%#= link_to "Preferences", preferences_form_user_path(current_user), class: "p-3 bg-gray-500 text-gray-200 cursor-pointer" %>
      <%= button_to "Log out", destroy_user_session_path, method: :delete, "data-turbo": false, class: "p-3 bg-gray-500 text-gray-200 cursor-pointer" %>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="flex flex-row py-3 divide-x">
      <%= link_to "Documents", documents_path, class: "px-2" %>
      <% @nav_article_categories.each do |nav_article_category| %>
        <%= link_to nav_article_category.name.pluralize, article_category_articles_path(nav_article_category), class: "px-2" %>
      <% end %>
      <%= link_to article_categories_path, class: "px-2 pt-0.5" do %>
        <i class="h-full fa-sm fas fa-fw fa-gear"></i>
      <% end %>
      <%= link_to "+", new_article_category_path, class: "px-2" %>
    </div>
    <div data-controller="show-hide">
      <div class="flex flex-row justify-between p-3 space-x-2 w-64 bg-gray-700 rounded-sm cursor-pointer select-none" data-show-hide-target="trigger">
        <p class="w-56"><%= Current.world.name %></p>
        <p class="flex flex-row justify-center w-8">
          <i class="mt-1 fas fa-caret-down"></i>
        </p>
      </div>
      <div data-show-hide-target="subject" class="overflow-hidden absolute w-64 rounded-sm" hidden>
        <% @worlds.each do |world| %>
          <%= link_to set_current_world_path(world_id: world.id, callback: request.path), data: { turbo_method: :post } do %>
            <div class="p-3 text-gray-100 bg-gray-600 hover:bg-gray-400"><%= world.name %></div>
          <% end %>
        <% end %>
        <div>
          <%= form_for :world, method: "post", url: worlds_path(callback: request.path) do |form| %>
            <%= form.text_field :name, placeholder: "Name", class: "w-full text-gray-700" %>
            <%= form.submit class: "button", style: "display: none;", id: "new_world_submit_btn" %>
          <% end %>
        </div>
        <%= link_to worlds_path do %>
          <div class="p-3 text-gray-100 bg-gray-600 hover:bg-gray-400">
            <i class="mr-1 fas fa-fw fa-cog fa-sm"></i>Manage
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
