<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Worldbuilder" %></title>
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon.png">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="turbo-prefetch" content="false">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/75ddb26609.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-gray-200 font-hahmlet text-gray-700">
    <main class="py-24 w-full">
      <%= render 'layouts/nav' if current_user %>
      <%= render 'layouts/notices/notices' %>
      <%= render 'layouts/modal' %>
      <div class="p-5 bg-gray-200">
        <%= yield %>
      </div>
    </main>
  </body>

  <footer class="flex flex-row justify-center text-white bg-gray-700 divide-x">
    <span class="p-3 text-center">Jesse Welch-Baines</span>
    <span class="p-3 text-center"><%= mail_to "j.welch.baines@gmail.com" %></span>
    <span class="p-3 text-center"><%= link_to "linkedin.com/in/jesse-welch-baines", "https://www.linkedin.com/in/jesse-welch-baines" %></span>

</html>
